%body
    %header
        %h1="Cadastro de Doador - Pessoa Física"
    %form{ :action => "/rotas", :method => "post" }
        %fieldset
            %div
            %h2 Dados pessoais
            %label{:for => "nome"} Nome:
            %input{:name => "nome", :type => "text", :value => ""}/
            %div
            %label{:for => "email"} E-mail:
            %input{:name => "email", :type => "text", :value => ""}/
            %div
            %label{:for => "confemail"} Confirma e-mail:
            %input{:name => "confemail", :type => "email", :value => ""}/
            %div
            %label{:for => "cpf"} CPF:
            %input{:name => "cpf", :type => "number", :value => ""}/
            %div
            %h2 Endereço
            %label{:for => "cep"} CEP:
            %input{:name => "CEP", :type => "number", :value => ""}/
            %div
            %label{:for => "log"} Logradouro:
            %input{:name => "log", :type => "text", :value => ""}/
            %label{:for => "num"} Numero:
            %input{:name => "num", :type => "number", :value => ""}/
            %label{:for => "comp"} Complemento:
            %input{:name => "comp", :type => "text", :value => ""}/
            %div
            %label{:for => "uf"} Estado (UF):
            %select{:name => "uf"}
                %option{:value => 1}= "ES"
                %option{:value => 2}= "MG"
                %option{:value => 3}= "RJ"
                %option{:value => 4}= "SP"
            %label{:for => "cidade"} Cidade:
            %input{:name => "cidade", :type => "text", :value => ""}/
            
        %input{ :type => "submit" }