%h1 Editar objeto

= render 'form'

%form{ :controller => 'objetos', :action => 'destroy', :method => 'post' }
  .categoriaForm
    %input{ :type => "submit" , :class => "buttonForm buttonFormRed", :value => "Excluir", :onclick => "return confirm('Tem certeza que deseja excluir o objeto?');"}