%h1 Editar objeto

= render 'form'

%a{:href => '/objetos/' + @objeto.id.to_s + '/destroy', :onclick => "return confirm('Tem certeza que deseja excluir o objeto?');"}
  .categoriaForm
    .buttonForm.buttonFormRed
      Desativar