
.separador1
.separador1
.separador1
.separador1
.separador1
.separador1
.separador1
.separador1
%h2 O que você quer doar?
.separador1

%form{ :controller => 'home', :action => 'search', :method => 'post' }
  .categoriaForm
    .itemFormLogin
      %input{:name => "query", :type => "text", :value => "", :class => "inputc"}/
    .separador1
      %input{ :type => "submit" , :class => "buttonForm1", :value => "PESQUISAR"}
      %input{ :type => "button" , :class => "buttonForm1 buttonWhite", :value => "LISTAR INSTITUIÇÕES", :onclick => "window.location = '/instituicaos'"}
