
.separador1
.separador1
.separador1
.separador1
.separador1
.separador1
.separador1
.separador1
%h2 Faça sua doação
.separador1

%form{ :controller => 'home', :action => 'search', :method => 'post' }
  .categoriaForm
    .itemFormLogin
      %input{:name => "args", :type => "text", :value => "", :class => "inputc"}/
    .separador1
      %input{ :type => "submit" , :class => "buttonForm1", :value => "PESQUISAR"}
