-@instituicao = Instituicao.find(session[:instLogedin])
.separador1
.separador1
%p
  %h1 
    = @instituicao.nome
.separador1
.separador2
.separador1
%h2 Objetos cadastrados
%a{:href => "/objetos/new"}    
  .button1.inline-button
    .buttonlink ADICIONAR
-@href = "/instituicaos/listObjetos/" + @instituicao.id.to_s
%a{:href => @href}    
  .button2.inline-button
    .buttonlink LISTAR
.separador1
.separador1
%h2 Doações recebidas
%a{:href => "/doacaos?status=aceitas"}    
  .button1.inline-button
    .buttonlink ACEITAS
-@c = Doacao.joins(:objeto).where("objetos.instituicao_id = ? and (status = 0 or status = 1)", @instituicao.id).all.size
-if @c == 0
  -@href =  "/doacaos?status=canceladas"
-else
  -@href =  "/doacaos?status=pendentes"
%a{:href => @href}    
  .button2.inline-button.pos-relative
    -@c = Doacao.joins(:objeto).where("objetos.instituicao_id = ? and (status = 0 or status = 1)", @instituicao.id).all.size
    .buttonlink.inline-button 
      -if @c == 0
        = "CANCELADAS"
      -else
        .notification1.inline-button
          PENDENTES
        .notification.inline-button
          = @c.to_s 
.separador1
.separador1
