-@instituicao = $instLogedin
.separador1
.separador1
.separador
.separador1
%p
  %h1 
    = @instituicao.nome
.separador2
.separador1
%h3 Objetos cadastrados
%a{:href => "/objetos/new"}    
  .button1
    .buttonlink ADICIONAR
-@href = "/instituicaos/listObjetos/" + @instituicao.id.to_s
%a{:href => @href}    
  .button1
    .buttonlink LISTAR
.separador1
.separador2
.separador1