%body
  <!-- %img{:alt => "Cunha", :border => "0", :height => "400", :src => "/images/a1.gif", :width => "700"}/-->
  
  %img{:alt => "Home3", :border => "0", :src => "/images/homea.jpg", :width => "814"}/    
  %img{:alt => "Home3", :border => "0", :src => "/images/homeb.jpg", :width => "814"}/    
  
  %img{:alt => "Home1", :border => "0", :height => "138", :src => "/images/home1.jpg", :width => "270"}/
  %p
    Faça um bem de forma prática e rápida para você e para quem precisa!
  %img{:alt => "Home2", :border => "0", :height => "130", :src => "/images/home2.jpg", :width => "283"}/
  %p
    Doe móveis, alimentos não perecíveis, roupas, brinquedos, ou qualquer outro item que deseja se desfazer ou ajudar quem precisa.
    Basta procurar a entidade ideal para a sua doação!
  %img{:alt => "Home3", :border => "0", :height => "261", :src => "/images/home3.jpg", :width => "500"}/


<!--  .pum -->
<!--    %h1="Gostou?" -->
<!--    %br -->
<!--    %a{:href => "/cadastro/cadastrousuariodoador"} -->    
<!--      .buttonbig -->
<!--        .buttonlink CADASTRE-SE -->
        
    
<!-- pra fazer o hello world http://www.jacksonbicalho.com.br/cotidiano/criando-a-minha-pagina-home-no-rails/ http://glaucocustodio.com/2012/10/06/primeiro-projeto-com-ruby-on-rails/ -->
<!-- pra fazer o haml  funcionar http://haml.info/docs/yardoc/file.REFERENCE.html#using_haml https://github.com/indirect/haml-rails-->
<!-- instalar a gem direto não funcionou, fiz igual esse tuto no github e depois dei um bundle instal que funcionou -->
<!-- dicas de haml - http://haml.info/tutorial.html -->