%body
  
  .separador3
  .grupo2{style: "background-image: url('/images/home2new.png'); height: 355px;"}
    .homeImage
    .descrHome1
      %h2 Faça um bem de forma prática e rápida para você e para quem precisa!

  .grupo2{style: "background-image: url('/images/homeMain.png'); height: 252px;"}
    .homeImage
    .descrHome2
      %h2 Doe móveis, alimentos não perecíveis, roupas, brinquedos, ou qualquer outro item que deseja se desfazer ou ajudar quem precisa. Basta procurar a entidade ideal para a sua doação!
  

  .pum
    %h1="Gostou?"
    %br
    %a{:href => "/home/selectusertype"}    
      .buttonbig
        .buttonlink CADASTRE-SE
    %br
    %br
    %br
    
<!-- pra fazer o hello world http://www.jacksonbicalho.com.br/cotidiano/criando-a-minha-pagina-home-no-rails/ http://glaucocustodio.com/2012/10/06/primeiro-projeto-com-ruby-on-rails/ -->
<!-- pra fazer o haml  funcionar http://haml.info/docs/yardoc/file.REFERENCE.html#using_haml https://github.com/indirect/haml-rails-->
<!-- instalar a gem direto não funcionou, fiz igual esse tuto no github e depois dei um bundle instal que funcionou -->
<!-- dicas de haml - http://haml.info/tutorial.html -->
