%body
  .separador1
  .grupo2
    %img{:alt => "Home1", :border => "0", :height => "138", :src => "/images/home1.jpg", :width => "270"}/
    .descr
      %h3 Faça um bem de forma prática e rápida para você e para quem precisa!
  
  .separador1
  .grupo2
    %img{:alt => "Home2", :border => "0", :height => "130", :src => "/images/home2.jpg", :width => "283"}/
    .descr
      %h3 Doe móveis, alimentos não perecíveis, roupas, brinquedos, ou qualquer outro item que deseja se desfazer ou ajudar quem precisa. Basta procurar a entidade ideal para a sua doação!
  
  .separador1
  .grupo2
    %img{:alt => "Home3", :border => "0", :height => "401", :src => "/images/home3.jpg"}/

   

  .pum
    %h1="Gostou?"
    %br
    %a{:href => "/usuarios/new"}    
      .buttonbig
        .buttonlink CADASTRE-SE
    %br
    %br
    %br
    
<!-- pra fazer o hello world http://www.jacksonbicalho.com.br/cotidiano/criando-a-minha-pagina-home-no-rails/ http://glaucocustodio.com/2012/10/06/primeiro-projeto-com-ruby-on-rails/ -->
<!-- pra fazer o haml  funcionar http://haml.info/docs/yardoc/file.REFERENCE.html#using_haml https://github.com/indirect/haml-rails-->
<!-- instalar a gem direto não funcionou, fiz igual esse tuto no github e depois dei um bundle instal que funcionou -->
<!-- dicas de haml - http://haml.info/tutorial.html -->