%marquee
    %h2 Busquem conhecimento
    %p= @welcome  
<!-- pra fazer o hello world http://www.jacksonbicalho.com.br/cotidiano/criando-a-minha-pagina-home-no-rails/ http://glaucocustodio.com/2012/10/06/primeiro-projeto-com-ruby-on-rails/ -->
<!-- pra fazer o haml  funcionar http://haml.info/docs/yardoc/file.REFERENCE.html#using_haml https://github.com/indirect/haml-rails-->
<!-- instalar a gem direto não funcionou, fiz igual esse tuto no github e depois dei um bundle instal que funcionou -->
<!-- dicas de haml - http://haml.info/tutorial.html -->