%body
  .titulo1
    %h1 Instituição
  .separador1
  .grupo1
    .icone1
      %a{:href => "/instituicaos/new"}
        %img{:alt => "Instiuição", :src => "/images/instituicao.png"}/
    .descr
      %h3 Se você é uma instituição e deseja receber doações
  .separador1
  .separador2
  .separador1
  .titulo1
    %h1 Doador
  .separador1
  .grupo1
    .icone1
      %a{:href => "/usuarios/cadastro/doador"}
        %img{:alt => "Doador Pessoa", :src => "/images/doador-pessoa.png"}/
    .descr
      %h3 Se você é alguém querendo doar para instituições
  .separador1
  .grupo1    
    .icone1
      %a{:href => "/usuarios/cadastro/empresadoadora"}
        %img{:alt => "Doador", :src => "/images/doador-empresa.png"}/
    .descr
      %h3 Se a sua empresa gostaria de doar para instituições
  .separador1
  .separador2  