.separador3
.grupo2{style: "background-image: url('/images/background4.jpg'); height: 814px;"}
  .descrHome5
    %h1 Obrigado pela sua doação!
    %h2 Aguarde o contato da instituição para finalizar a doação
