%body
  .separador1
  %h1 Login
  .separador2
  .separador1
  .separador1
  - if flash[:alert]
    %h3 Login ou senha inválidos!
  .separador1
  .separador1
  %form{ :controller => 'login', :action => 'auth', :method => 'post' }
    .categoriaForm
      .itemFormLogin
        %label{:for => "email", :class => "labelb"} E-mail
        %input{:name => "email", :type => "text", :value => "", :class => "inputb"}/
      .separador1
      .itemFormLogin
        %label{:for => "senha", :class => "labelb"} Senha
        %input{:name => "senha", :type => "password", :value => "", :class => "inputb"}/
      .separador1
      %input{ :type => "submit" , :class => "buttonForm1", :value => "ENTRAR"}