%body
    .separador1
    %h3 Como funciona?
    .grupo2
        %p
            %img{:alt => "Como funciona?", :border => "0", :height => "100", :src => "/images/gears.png", :width => "100"}
        %p 
            O sistema Connect Donations é um site de utilização gratuita e sem fins lucrativos, que tem a proposta de unir pessoas ou empresas, que 
            possuem itens em boas condições dos quais querem se desfazer, com instituições filantrópicas que precisam de tais itens.
            Assim, todo o processo de busca, verificação de objetos aceitos e contato com a instituição, seria unificado em apenas um 
            local, para facilitar a doação.
            
            Os itens podem ser roupas, brinquedos, alimentos não perecíveis, móveis, eletrônicos ou qualquer outro objeto que é especificado pelas
            instituições filantrópicas como possíveis de serem recebidos. E os usuários podem buscar a instituição por área de atuação, 
            por objetos aceitos, por cidade, ou por nome.  
    .grupo2
        %p  
            O sistema permite à instituição cadastrar o que ela precisa e disponibilizar esses dados para os usuários interessados em realizar 
            doações. 
            O usuário poderá usar o site somente para consulta das instituições, sem necessidade de cadastro.
            Caso deseje realizar a doação através do site, é necessário realizar o login, para assim, poder entrar em contato direto com a institução.
            Entrando em contato, o usuário informa o(s) objeto(s) e a quantidade que ele deseja doar. E assim, o usuário deve aguardar o retorno
            do contato da instituição com informações de como e onde poderá ser retirada a doação.
            
    
    .separador2
    .separador1
    %h3 De onde surgiu a ideia?
    .grupo2
        %p  
            O site foi desenvolvido como requisito para a disciplina de Engenharia de Sistemas de Informação, do curso Sistemas de 
            Informação da Universidade de São Paulo.
            A ideia surgiu a partir da constatação da necessidade de se encontrar facilmente instituições filantrópicas e os objetos 
            específicos que elas recebem, e que tenham características interessantes para o usuário doador, como localidade e área de 
            atuação.
    
    .separador2
    .separador1
    %h3 Quer saber um pouco mais? Entre em contato.
    .separador1
    %a{:href => "/contato/contato"}    
        .buttonbig
            .buttonlink CONTATO