%body
    %h2 Connect Donations
    %p 
        O sistema Connect Donations é um site de utilização gratuita e sem fins lucrativos tem a proposta de unir pessoas e empresas que 
        têm objetos dos quais elas gostariam de se desfazer, mas que ainda estão em boas condições, e instituições filantrópicas que precisam de objetos como aqueles.
    %p 
        Desenvolvido durante a disciplina de Engenharia de Sistemas de Informação da Universidade de São Paulo o sistema
        permite à instituição cadastrar do que ela precisa, e disponibiliza esses dados para os usuários interessados em fazer doações. Os usuários podem buscar a instituição
        por tipo, e região, e por tipo de produto necessário. Objetos específicos e que desconhece instituições confiáveis que recebam, a encontrar a instituição certa para isso.
    %p  Além disso, o sistema realiza o controle de quanto da meta já foi arrecadado e permite também o recebimento contínuo de doações (para itens como comida e roupas infantis).