%body
    .separador1
    %h3 Como funciona?
    .grupo2
        %img{:alt => "Como funciona?", :border => "0", :height => "128", :src => "/images/gears.png", :width => "128"}/
        %p 
            O sistema Connect Donations é um site de utilização gratuita e sem fins lucrativos, que tem a proposta de unir pessoas e empresas que 
            têm objetos dos quais elas gostariam de se desfazer, mas que ainda estão em boas condições, e instituições filantrópicas que precisam de objetos como aqueles.
    .grupo2
        %p  
            O sistema permite à instituição cadastrar do que ela precisa, e disponibiliza esses dados para os usuários interessados em fazer doações. Os usuários podem buscar a instituição
            por tipo, e região, e por tipo de produto necessário. Objetos específicos e que desconhece instituições confiáveis que recebam, a encontrar a instituição certa para isso.
            Além disso, é possível visualizar quanto da meta já foi arrecadado e permite também o recebimento contínuo de doações (para itens como comida e roupas infantis).
    
    .separador2
    %h3 De onde surgiu a ideia?
    .grupo2
        %p  
            Desenvolvido como parte da disciplina de Engenharia de Sistemas de Informação da Universidade de São Paulo. 
    