-if session[:isInstituicao]
  %a{:href => "/instituicaos/details"}
    .usnameheader
      .usnamelink
        = Instituicao.find(session[:instLogedin]).nome
-else
  %a{:href => "/usuarios/show"}
    .usnameheader
      .usnamelink
        -if Usuario.find(session[:userLogedIn]) == nil
          -if session[:isInstituicao] == true
            = Instituicao.find(session[:instLogedin]).nome
          -else
            Não sei seu nome :(
        -else
          -if !Usuario.find(session[:userLogedIn]).isPJ?
            Olá,
            = Usuario.find(session[:userLogedIn]).nome.split().first
          -else
            = Usuario.find(session[:userLogedIn]).nome
